# Laboratorio 5.1
Elaborado por Oscar Franco-Bedoya

`Proyecto Mision TIC 2021

# Objetivo
El objetivo de este laboratorio es verificar el funcionamiento las funciones básicas con tuplas.

Estos ejercicios están explicados detalladamente en el video asociado

#Creación de tuplas
## Tuplas vacias

In [ ]:

tupla1=()
print(type(tupla1))

tupla2=tuple()
print(type(tupla2))

<class 'tuple'>
<class 'tuple'>

## Creación con elementos

In [ ]:
circulo1=3,-4,3,"Blue" # Empaquetamiento
print(type(circulo1))

circulo2=(10,5,6,"Yellow")
print(type(circulo2))

circulo3=tuple((2,4,5,"Green"))
print(type(circulo3))
print(circulo1)
print(circulo2)
print(circulo3)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
(3, -4, 3, 'Blue')
(10, 5, 6, 'Yellow')
(2, 4, 5, 'Green')

TypeError: ignored

## Tupla unitaria

In [ ]:
tupla=(8,)
print(type(tupla))

<class 'tuple'>

## Acceso a los elementos de la tupla

In [ ]:
circulo3=tuple((2,4,5,"Green"))
print(circulo3[2])
print(circulo3[0:2])
print(circulo3[-1])

5
(2, 4)
Green

## Tamaño de la tupla

In [ ]:
len(circulo3)
print(circulo3)

(2, 4, 5, 'Green')

## Desempaquetado de tuplas

In [ ]:
x,y,radio,color=circulo3 #Desempaquetamiento
print(x,y,radio,color)

2 4 5 Green

## Retorno de valores

In [ ]:
def operaciones_aritmeticas(num1,num2):
  s=num1+num2
  r=num1-num2
  m=num1*num2
  d=num1/num2

  return s,r,m,d

x=operaciones_aritmeticas(10,20)
print(type(x))

r1,r2,r3,r4 = operaciones_aritmeticas(10,20)
print(r1,r2,r3,r4)
r1,r2,r3,r4 = x
print(r1,r2,r3,r4)

<class 'tuple'>
30 -10 200 0.5
30 -10 200 0.5

## Tuplas como parámetros

In [ ]:
import math

def area_circulo(circulo:tuple):
  radio=circulo[2]
  area=2*math.pi*radio
  return area 

area=area_circulo((2,2,2,"Blue"))
print(area)

12.566370614359172

# Named tuples

In [ ]:
from collections import namedtuple
Circulo=namedtuple('Circulo', ['x', 'y','radio','color']) #Nuevo tipo de datos

print(type(Circulo))
print(type(int))

c1= Circulo(2,3,5,"Blue") #Definiendo una variable
print(type(c1))

print(c1.color)

<class 'type'>
<class 'type'>
<class '__main__.Circulo'>
Blue

---
FIN LABORATORIO
---